@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600;800&family=JetBrains+Mono:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #09090b;
  color: #f8fafc;
  font-family: "Plus Jakarta Sans", sans-serif;
}

/* Custom scrollbar to match the theme */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #3f3f46;
  border-radius: 10px;
}
